/* * {
  box-sizing: border-box;
} */

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans SC', sans-serif !important;
}

body {
  /* min-height: 1280px; */
  font-weight: 300;
  color: #2a2a2a;
}

p,
h1,
h2,
h3,
h4,
a {
  margin: 0;
  font-weight: 300;
}

.titulo {
  letter-spacing: 0.05em;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  position: sticky;
  background-color: #666;
  color: #fff;
}

#outro {
  height: 1300px;
}

/* scrollama */

#scroll {
  position: relative;
  padding-bottom: 5px;
}

.scroll__text {
  position: relative;
  margin: 0 auto;
  width: 33%;
}

.step {
  background-color: rgba(102, 102, 102, 0.9);
  margin: 0 auto;
  padding: 20px;
  border: 1px solid;
  box-shadow: -1px -1px 5px -1px rgba(0, 0, 0, 0.19),
    3px 4px 5px 0px rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

.txtStep {
  text-align: left;
  padding: 1rem;
  color: #fff;
}

main#container {
  position: relative;
}
#sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

#scrolly {
  width: 100%;
  margin: 2rem auto 4rem auto;
}

/* d3-tip */
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  border-radius: 4px;
  box-shadow: 2px 1px 4px gray;
  pointer-events: none;
  position: fixed !important;
  font-size: 11px;
  box-sizing: border-box;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

#masInfo {
  position: absolute;
  padding: 10px 0 0 85%;
  display: none;
  opacity: 0.9;
}

@media screen and (max-width: 1024px) {
  #scrolly {
    padding: 10% 10% 10% 10%;
  }
  #masInfo {
    position: absolute;
    padding: 55% 0 0 0;
  }
  #scroll {
    margin-left: 0px;
    margin-right: 0px;
  }
  .titulo {
    letter-spacing: 0.05em;
    font-size: 20px;
    padding-left: 5px;
    padding-right: 5px;
  }
  #masInfo {
    font-size: 12px;
    margin: 2% 0 0 2%;
  }
  .scroll__text {
    width: unset;
  }
  .modal .modal-dialog {
    width: 90%;
  }
  .legend {
    padding: 0 0 5px 0 !important;
    color: #fff;
  }
}

.entidad {
  cursor: pointer;
}

.leyendaColores {
  font-size: 8px;
  font-weight: 300;
  color: #2a2a2a;
}

#leyendaVerde {
  height: 400px;
  width: 400px;
}

.key-dot {
  display: inline-block;
  height: 25px;
  margin-right: 0.5em;
  width: 25px;
  border-radius: 50%;
  vertical-align: text-bottom;
}

.legend {
  color: #fff;
  padding: 0 0 5px 30px;
  text-align: left !important;
}

#masInfo p {
  color: rgba(0, 0, 0, 0.87);
}
.casi_nada_similar {
  background: #762a83;
}
.muy_poco_similar {
  background: #af8dc3;
}
.poco_similar {
  background: #e7d4e8;
}
.similar {
  background: #d9f0d3;
}
.bastante_similar {
  background: #7fbf7b;
}
.muy_similar {
  background: #1b7837;
}

#footer {
  background: #2a2a2a;
}