* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  /* min-height: 1280px; */
  font-weight: 300;
  color: #2a2a2a;
}

p,
h1,
h2,
h3,
h4,
a {
  margin: 0;
  font-weight: 300;
}

a,
a:visited,
a:hover {
  color: #f30;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
}

#intro {
  max-width: 40rem;
  margin: 1rem auto;
  text-align: center;
}

.intro__overline {
  font-size: 1.4rem;
}

.intro__hed {
  font-size: 1.4rem;
  margin: 1.5rem auto;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 0.05em;
}

.intro__dek {
  font-size: 1.4rem;
}

/* demo */

#intro {
  margin-bottom: 300px;
}

#outro {
  height: 4400px;
}

/* scrollama */

#scroll {
  position: relative;
}

.scroll__text {
  position: relative;
  padding: 0 1rem;
  margin: 0 auto;
  /* width: 33%; */
}

.step {
  background-color: rgba(255, 255, 255, 0.7);
  margin: 2rem auto 4rem auto;
  border: 1px solid #333;
}

.step.is-active {
  background-color: lightgoldenrodyellow;
}

.step p {
  text-align: center;
  padding: 1rem;
  /* font-size: 1.5rem; */
}

/* nav {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background: white;
  padding: 1rem;
} */

main#container {
  position: relative;
}
#sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

#scrolly {
  width: 100%;
  padding: 0 80% 0 0;
}

/* d3-tip */ 
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  border-radius: 0 10px 0 10px;
  box-shadow: 2px 1px 4px gray; 
  pointer-events: none;
  position: relative;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  pointer-events: none;
}

/* Northward tooltips */
.d3-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}
