* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  /* min-height: 1280px; */
  font-weight: 300;
  color: #2a2a2a;
}

p,
h1,
h2,
h3,
h4,
a {
  margin: 0;
  font-weight: 300;
}

.titulo {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  position: sticky;
  background-color: #2a2a2a;
  color: #fff;
}

#outro {
  height: 1300px;
}

/* scrollama */

#scroll {
  position: relative;
  /* background-color: rgba(0, 0, 0, 0.2); */ 
  /* margin-left: 10px; */
  padding-bottom: 5px;
  /* padding-top: 5px; */
}

.scroll__text {
  position: relative;
  /* padding: 0 1rem; */
  margin: 0 auto;
  width: 33%;
}

.step {
  background-color: rgba(0, 0, 0, 0.5);
  /* margin: 2rem auto 4rem auto; */
  /* margin: 0 0 100% 0; */
  /* border: 1px solid #333; */
}

/* .step.is-active {
  background-color: lightgoldenrodyellow;
} */

.step p {
  text-align: center;
  padding: 1rem;
  color: #fff;
  /* font-size: 1.5rem; */
}

main#container {
  position: relative;
}
#sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

#scrolly {
  width: 100%;
  /* padding: 0 75% 0 0; */
  margin: 2rem auto 4rem auto;
}

/* d3-tip */
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  border-radius: 0 10px 0 10px;
  box-shadow: 2px 1px 4px gray;
  pointer-events: none;
  position: fixed !important;
  font-size: 11px;
}

#masInfo {
    position: absolute;
    padding: 10px 0 0 85%;
}

@media screen and (max-width: 1024px) {
  #scrolly {
    padding: 10% 10% 10% 10%;
  }
  #masInfo {
      position: absolute;
      padding: 0 0 0 0;
  }
  #scroll {
    margin-left: 0px;
    margin-right: 0px;
  }
  .titulo {
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 20px;
    padding-left: 5px;
    padding-right: 5px;
  }
  #masInfo {
    font-size: 12px;
    margin: 2% 0 0 2%;
  }
  .scroll__text {
    width: unset;
  }
}

.entidad {
  cursor: pointer;
}

/* Animación de scroll */
/* .scroll-downs {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width :34px;
  height: 55px;
}
.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 3px solid #2a2a2a;
  border-radius: 25px;
  opacity: 0.8;
  box-sizing: content-box;
}
.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #2a2a2a;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
} */
